<ion-view view-title="Tutorial">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <a class="button button-outline button-light" href="#/floor">
        Skip Tutorial
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-slide-box style='height:700px; border: solid black 1px;'>

      <!-- Slide page one -->
      <ion-slide>
        <div class='brand'>
          <img src="img/brand.png" class='brand'>
        </div>
        <div class="title">
          <h1>Welcome!</h1>
        </div>
        <div class="content">
          <p>
            Thanks for participating in this user evaluation.
          </p>
          <p>
            Following is a breif tutorial of how to use the app!
          </p>
        </div>
      </ion-slide>

      <!-- Slide page two -->
      <ion-slide>
        <div class='tut'>
          <img src="img/create.png" class='brand'>
        </div>
        <div class="title">
          <h1>Create The Room Layout!</h1>
        </div>
        <div class="content">
          <p>
            Drag from top left to bottom right to create a room of the required dimentions
          </p>
          <p>
            Note: 50px is equal to 1/2 metre.
          </p>
        </div>
      </ion-slide>
      <!-- Slide page three -->
      <ion-slide>
        <div class='tut'>
          <img src="img/addFeature.png" class='brand'>
        </div>
        <div class="title">
          <h1>Add Room Features!</h1>
        </div>
        <div class="content">
          <p>
            Drag from the carousel to the desired location
          </p>
          <p>
            Note: creating window requires to enter the width first!
          </p>
        </div>
      </ion-slide>
      <!-- Slide page four -->
      <ion-slide>
        <div class='tut'>
          <img src="img/addFurn.png" class='brand'>
        </div>
        <div class="title">
          <h1>Add Room Furniture!</h1>
        </div>
        <div class="content">
          <p>
            Select name then flag
          </p>
          <p>
            Note: If you select the desk or bed flag it will overide any name
          </p>
        </div>
      </ion-slide>
      <!-- Slide page five -->
      <ion-slide>
        <div class='tut'>
          <img src="img/solve.png" class='brand'>
        </div>
        <div class="title">
          <h1>Solve!</h1>
        </div>
        <div class="content">
          <p>
            Once all furniture has been added click solve!
          </p>
        </div>
      </ion-slide>
      <!-- Slide page six -->
      <ion-slide>
        <div class='tut'>
          <img src="img/solution.png" class='brand'>
        </div>
        <div class="title">
          <h1>Add Room Features!</h1>
        </div>
        <div class="content">
          <p>
            Select from a range of solutions. Delete unwanted solution and recieve new ones!
          </p>
          <a class="button button-balanced" href="#/floor">
            Get Started!
          </a>
        </div>
      </ion-slide>
      <!-- More slides here... -->
    </ion-slide-box>
  </ion-content>
</ion-view>