<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-nav-bar class="bar-calm">
      <ion-nav-title>
        <h1 class='title'>Furnitures</h1>
      </ion-nav-title>
    </ion-nav-bar>
    <ion-nav-view>
      <ion-list show-delete="shouldShowDelete">
        <br><br><br>
        <ion-item ng-repeat="furniture in furnitures" ng-click="serverSideChange(furniture)" ng-value="furniture.name" >
          <button style='padding: 0; margin:0 10px 0 0;' class="icon ion-trash-a assertive button-icon" ng-click="remove(furniture.name)"></button> 
          {{ furniture.name }}
        </ion-item>
        <ion-item ng-click='showPopup();'>
          <i class="icon ion-plus-round"></i>   Add item
        </ion-item>
      </ion-list>
    </ion-nav-view>
  </ion-side-menu>
</ion-side-menus>
